{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended"
    ],
    "overrides": [
        {
            "files": [
                "*.ts"
            ],
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            "parserOptions": {
                "project": [
                    "./tsconfig.json"
                ]
            },
            "rules": {
                "@typescript-eslint/explicit-function-return-type": "error",
                "@typescript-eslint/ban-types": "error",
                "@typescript-eslint/no-floating-promises": "error",
                "@typescript-eslint/unbound-method": [
                    "error",
                    {
                        "ignoreStatic": true
                    }
                ]
            }
        },
        {
            "files": [
                "src/db/mysql.ts"
            ],
            "rules": {
                "@typescript-eslint/unbound-method": [
                    "off"
                ]
            }
        }
    ]
}