<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" action="/users/symbols/add">
    <label>
        <input type="text" name="symbol" placeholder="Crypto token" />
    </label>
    <button>Add</button>
</form>
<table>
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <% symbolValues.forEach(userSymbol => { %>
        <tr>
            <td><%= userSymbol.symbol %></td>
            <td><%= userSymbol.value %></td>
        </tr>
    <% }) %>
    </tbody>
</table>
</body>
</html>